# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# JavaScript / Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.npm
.cache

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
